img{
    width: 8em;
    margin: 1em;
    border-radius: 16px;
}
#pfpDiv{
    float: left;
}
@media screen and (max-width: 900px){
    h2{
        margin-block-start: 0em;
    }
	#pfpDiv{
		float: none;
	}
}